src/main/resources/schemas/comunidades-autonomas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosCarburantes" 
           elementFormDefault="qualified" 
           targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosCarburantes" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComunidadAutonoma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComunidadAutonoma" nillable="true" type="tns:ComunidadAutonoma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComunidadAutonoma" nillable="true" type="tns:ArrayOfComunidadAutonoma" />
  <xs:complexType name="ComunidadAutonoma">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDCCAA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCAA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComunidadAutonoma" nillable="true" type="tns:ComunidadAutonoma" />
</xs:schema>


