actividad1/src/main/resources/schemas/municipios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosCarburantes" 
           elementFormDefault="qualified" 
           targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosCarburantes" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMunicipio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Municipio" nillable="true" type="tns:Municipio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMunicipio" nillable="true" type="tns:ArrayOfMunicipio" />
  <xs:complexType name="Municipio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDMunicipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCCAA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCAA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Municipio" nillable="true" type="tns:Municipio" />
</xs:schema>


